{% extends 'index.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="register-form">
    <button><a href="{% url 'Users_app:user-create' %}">Register</a></button>
</div>

<div class="login-container">
    <h2 class="login-title">Login</h2>
    <form class="login-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
</div>

</body>
</html>



{% endblock %}